

<h1>Results:</h1>

<ul class = "result">
    {{#each users}}
    <li>
        <p><span class = "label"></span>Name: {{name}} </p>
        

        {{!-- <p><span class = "label"></span>Availability: Day:{{dayInput}}  TimeOfDay:{{timeOfDayInput}}</p>
        <p><span class = "label"></span>Activity: {{activitysInput}}</p>     --}}
    </li>
    {{/each}}
</ul>