<link rel='stylesheet' href='/assets/css/style.css'>
<body class='HBroomsBody'>
<header><h1 class='HBroomsHeader'> Party Lounge</h1></header>

<div id='partyRoomRow'>
{{#each partyRow}}
<tr class='HBtableRows'><td><h2>{{partyRoom}}</h2></td><td><h5>{{partyStarter}} </h5></td> 
<td><button id='checkOutRoom'>Check out!!!</button></td> </tr>
<hr>


{{/each}}
</div>
</body>