p {
	color: rgb(163, 30, 163);
	text-align: center;
	margin-left: 25%;
	margin-right: 25%;
}

#pText {
    font-size: 20px;
}

#partyName {
    font-size: 20px;
}

#addedRoom {
    font-family: pasa;
    font-size: 20px;
    color: rgb(163, 30, 163);
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
}

#enterText {
	color: #F05283;
}